.AddProperty {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.add-property-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #c6c6c6;
  box-shadow: 0 4px 8px 0 #c6c6c6;
  padding: 25px;
  min-width: 300px;
  background-color: #ffffff;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  font-weight: bold;
}

.form-input {
  flex: 0 1 auto;
  align-items: center;
  margin: 5px;
  padding: 5px;

  border: 1px solid #c6c6c6;
  border-radius: 5px;
}


.form-select {
  flex: 0 1 auto;
  margin: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5px;

  appearance: none;
  background-image: #0d2a49;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

.form-options {
  flex: 0 1 auto;
  margin: 5px;
  appearance: none;
  border: none;
}

.add-property-button {
  margin: 5px;
  padding: 5px;
  background-color: #0d2a49;
  color: #ffffff;
  font-weight: 900;
  font-size: medium;
}