.Alert {
    margin: 10px 10px;
    padding: 5px;
    font-weight: bold;
    max-height: 50px;
  }

.alert-success {
    border: 2px solid var(--primary-success-color);
    color: var(--primary-success-color);
    background-color: var(--secondary-success-color);
}

.alert-error {
    border: 2px solid var(--primary-error-color);
    color: var(--primary-error-color);
    background-color: var(--secondary-error-color);
    
}