.Alert {
    margin: 10px 10px;
    padding: 5px;
    font-weight: bold;
    max-height: 50px;
  }

.alert-success {
    border: 2px solid green;
    color: green;
    background-color: #d1f2de;
}

.alert-error {
    border: 2px solid red;
    color: red;
    background-color: #fcd3c9;
    
}