.burger {
  margin: 5px;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}

.burger__toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  height: 40px;
  width: 40px;
  opacity: 0;
}

.burger__lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  

  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__lines > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--primary-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Top and bottom lines */
.burger__lines > div:before, 
.burger__lines > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves a line down */
.burger__lines > div:after {
    top: 10px;
}

/* Aninmate toggler */
.burger__toggle:checked + .burger__lines > div {
    transform: rotate(135deg);
}

/* Turn lines into an X */
.burger__toggle:checked + .burger__lines > div:before,
.burger__toggle:checked + .burger__lines > div:after {
    top:0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.burger__toggle:checked:hover + .burger__lines > div {
    transform: rotate(225deg);
} 

