.favourite-card {
  display: flex;
  background-color: var(--primary-light-color);
  margin: 10px;
  padding: 10px;
}

.favourite-card__detail {
  flex: 1 1 auto;
}

.favourite-card__mailto {
  text-decoration: none;
  color: var(--primary-success-color);
}

.favourite-card__btn {
  flex: 0 1 100px;
  justify-self: flex-end;
  margin: 5px;
}

.favourite-card__btn--email {
  border: 2px solid var(--primary-success-color);
  background-color: var(--secondary-success-color);
}

.favourite-card__btn--remove {
  border: 2px solid var(--primary-error-color);
  color: var(--primary-error-color);
  background-color: var(--secondary-error-color);
}
