.favourite-card {
    display: flex;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.favourite-card__detail {
    flex: 1 1 auto;
}

.favourite-card__btn {
    flex: 0 1 100px;
    justify-self: flex-end;
    margin: 5px;
}

.--email{
 background-color: green;
}

.--remove{
 background-color: red;
}