.footer {
    display: flex;
    justify-content: flex-start;

    margin: 0px;
    padding-left: 20px;
    
    background-color: var(--tertiary-dark-color);
    border-top: 1px solid var(--tertiary-dark-color);

}

.footer__contents {
    list-style: none;
    padding-left: 5px;
}

.footer__item {
    text-decoration: none;
    color: var(--primary-light-color);
}