.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light-color);
    
}

.home-page__heading {
    font-family: "Orbitron", "Open Sans", sans-serif;
}

.home-page__welcome {
    margin: 25px;
    padding: 30px;
    background-color: var(--primary-light-color-trans);
    box-shadow: 0 4px 8px 0 var(--tertiary-dark-color);
    max-width: 500px;
}