.navbar {
    background-color: #ffffff;
    font-family: 'Orbitron', 'Open Sans', sans-serif;
    border-bottom: 1px solid #c6c6c6;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 50px;
    padding: 10px;
}

.navbar-links {
    flex: 1 1 auto;
    display: flex;
    list-style: none;
}

.navbar-links-item {
    margin: none;
    padding: 10px;
}

.navbar-link {
    text-decoration: none;
    color: #0d2a49;
}

.navbar__login {
    flex: 0 1 150px;
    background-color: #3578e5;
    color: #ffffff;
    padding: 20px;
    font-size: medium;
}
