.navbar {
  background-color: var(--primary-light-color);
  font-family: "Orbitron", "Open Sans", sans-serif;
  border-bottom: 1px solid var(--tertiary-dark-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  flex: 0 1 auto;
  height: 50px;
  padding: 10px;
}

.navbar-title {
  flex: 1 1 auto;
}

.navbar-links {
  flex: 1 1 250px;
  display: flex;
  list-style: none;
}

.navbar-links-item {
  margin: none;
  padding: 15px;
}

.navbar-link {
  text-decoration: none;
  color: var(--primary-dark-color);
}

.navbar-link:hover {
  color: var(--tertiary-light-color);
}

.navbar__login {
  flex: 1 1 100px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px 0 var(--tertiary-dark-color);
  color: #4b69ba;
  border: none;

  font-size: medium;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
}
