.property-card {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin: 5px;
  font-family: "Open Sans"; 
  background-color: var(--primary-light-color);
  box-shadow: 0 4px 8px 0 var(--tertiary-dark-color);
  max-height: 300px;
}

.property-card__logo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-light-color);
}

.property-card__title {
  font-weight: bold;
}

.property-card__type {
  font-style: italic;
}

.property-card__email {
  margin-top: 5px;
  padding: 5px;

  border: 1px solid var(--tertiary-dark-color);
  background-color: var(--primary-dark-color);
  color: var(--light-text);
  font-weight: 900;
  font-size: medium;
}

.property-card__mailto {
  text-decoration: none;
  color: var(--light-text);
}

.property-card__save {
  margin-top: 5px;
  padding: 5px;

  font-weight: 900;
  font-size: medium;

  border: 1px solid var(--tertiary-dark-color);
  background-color: var(--secondary-light-color);
  color: var(--primary-dark-color);
}
