.property-card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Open Sans';
    min-width: 250px;
}

.property-card__logo {
    display:flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.property-card__type {
   font-style: italic; 
}