.properties {
  background-color: var(--secondary-light-color);
  display: flex;
  height: 100%;
}

.properties__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 500px) {

  .properties {
    flex-direction: column-reverse;
  }
}
