.search-form {
    display: flex;
    margin-bottom: 10px;
}

.search-form__input {
    margin-right: 0px;
    border: 1px solid var(--tertiary-dark-color);
    border-radius: 5px 0px 0px 5px;
}

.search-form__submit {
    border: 1px solid var(--tertiary-dark-color);
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
}