.sidebar {
  margin: 2px 0px 5px 0px;
  padding: 10px;
  background-color: var(--primary-light-color-trans);
  box-shadow: 0 4px 8px 0 var(--tertiary-dark-color);
  height: 100vh;
  
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__section {
  font-family: 'Orbitron';
  font-weight: bold;
}

.sidebar__links {
  list-style: none;
  padding-left: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-content: flex-start;
}

.sidebar__item {
  flex: 1 1 150px;
  padding: 5px;
}

.sidebar__link {
  font-family: 'Open Sans';
  text-decoration: none;
  color: var(--primary-dark-color);
}

.sidebar__link:hover{
  color: var(--tertiary-light-color);
}
