.sidebar {
  margin: 0px;
  padding: 10px;
  background-color: var(--primary-light-color);
  box-shadow: 0 4px 8px 0 var(--tertiary-dark-color);
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__section {
  font-family: 'Orbitron';
  font-weight: bold;
}

.sidebar__links {
  list-style: none;
}

.sidebar__item {
  padding: 5px;
}

.sidebar__link {
  font-family: 'Open Sans';
  text-decoration: none;
  color: var(--primary-dark-color);
}
