.sidebar {
  margin: 0px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #c6c6c6;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__section {
  font-family: 'Orbitron';
}

.sidebar__links {
  list-style: none;
}

.sidebar__item {
  padding: 5px;
}

.sidebar__link {
  font-family: 'Open Sans';
  text-decoration: none;
  color: #0d2a49;
}
