@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&display=swap');

:root {
  --primary-dark-color: #0d2a49;
  --primary-light-color: rgb(255,255,255,95%);

  --secondary-dark-color: #123b66;
  --secondary-light-color: rgb(13,42,73,60%);
  
  --tertiary-dark-color: rgb(5,17,30);
  
  --primary-success-color: green;
  --secondary-success-color: #d1f2de;

  --primary-error-color: red;
  --secondary-error-color: #fcd3c9;

  --light-text: #ffffff;
  --dark-text: #0d2a49;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-light-color);
  background-image: url("images/highrise-background.jpg");
  color: var(--primary-dark-color);
}

